# Python
*.pyc
__pycache__/
.env
.venv/
venv

# Node.js
node_modules/

# Terraform - typical exclusions
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
